/*.pantalla-dividida {
    display: flex;
    height: 100vh; /* opcional: ocupa toda la altura de la pantalla */
  /*}*/
  
 /* .lado-izquierdo, .lado-derecho, {
    flex: 1;
    padding: 1rem;
  } 
  
  .lado-izquierdo {
    background-color: azure;
  }
  
  .lado-derecho {
    background-color: #e0e0e0;
  } */ 
    footer, header {
        height: 150px; /* o el alto que uses en tu header */
        background-color: #332d2d; /* ejemplo */
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 40px;
            background-color: #f5f5f5;
          }
      
          section {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 0;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          }
      
          h2 {
            margin-top: 0;
            color: #333;
          }
      
          .skill-card {
            background-color: #e0f0ff;
            padding: 10px;
            margin-bottom: 10px;
          }
          .logo-menu {
            height: 150px; /* o el alto que uses en tu header */
            display: flex;
            align-items: left;
            justify-content: left;
            
          }
          