/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente y fondo general */
body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f9f9f9;
  color: #727265;
  line-height: 1.6;
  padding: 20px;
}

/* Header y navegación */
.header, .footer{
  background-color: #242930;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 0px;
}

.logo-menu {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.menu button {
  background-color: #bcba2c;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}

.menu button:hover {
  background-color: #242930;
}

/* Secciones */
section {
  background: #eef0f2;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #727265;
  border-radius: 10px;
  box-shadow: 10 2px 8px rgba(0, 0, 0, 0.05);
}

h2 {
  color: #242930;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 8px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #777;
}
